/* .post-title.entry-title {
    position: relative;
    background: #ffb6c1;
    box-shadow: 0px 0px 0px 5px #ffb6c1;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #696969;
}

.article h1 {
    background: linear-gradient(transparent 80%, #ffb6c1 95%);
    padding: 0.2em 0.5em;
    display: inline;
    color: #696969;
}

.article h2 {
    padding: 0.25em 0.5em;
    color: #696969;
    background: transparent;
    border-left: solid 5px #ffb6c1;/
}

.article h3 {
    position: relative;
    background: #ffb6c1;
    box-shadow: 0px 0px 0px 5px #ffb6c1;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #696969;
}

.article h3:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #cd853f;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.article h2 {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
}

.article h2:after {
position: absolute;
content: '';
top: 100%;
left: 30px;
border: 15px solid transparent;
border-top: 15px solid #e0edff;
width: 0;
height: 0;
}

.article h4 {
color: #505050;
padding: 0.5em;
display: inline-block;
line-height: 1.3;
background: #dbebf8;
vertical-align: middle;
border-radius: 25px 0px 0px 25px;
}

.article h4:before {
content: 'â—';
color: white;
margin-right: 8px;
}

.article .underline-red {
    border-bottom: solid 2px tomato;
    display: inline;
}

.prettyprint ol.linenums > li {
  list-style-type: decimal;
}

.prettyprint {
  white-space: pre;
  overflow: auto;
}
*/
